.dashboard {
  font-family: 'Roboto', sans-serif;
}

.main-content {
  background-color: #fff;
  padding: 0 8%;
}

.content-area {
  position: relative;
  width: 100%;
  padding-top: 0;
  overflow: auto;
  background: #fff;
}

