.page-title {
  position: relative;
  top: 6px;
  color: #393939;
  font-weight: 400;
}

.header .btn.green {
  float: right;
}

.back-btn {
  display: inline-block;
  margin-right: 8px;
  border: 0;
  background: transparent;
  box-shadow: none;
  color: #757575;
}

.back-btn i {
  font-size: 25px;
  position: relative;
  top: 6px;
}
